{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<!-- Page Title Section -->
<section class="page-title" style="background-image: url(assets/images/background/pattern-15.png)">
    <div class="pattern-layer-one" style="background-image: url(assets/images/main-slider/pattern-1.png)"></div>
    <div class="pattern-layer-two" style="background-image: url(assets/images/background/pattern-17.png)"></div>
    <div class="pattern-layer-three" style="background-image: url(assets/images/background/pattern-18.png)"></div>
    <div class="pattern-layer-four" style="background-image: url(assets/images/icons/cross-icon.png)"></div>
    
        <div class="row clearfix">
    <h2 class="text-center">Connexion</h2><br>

            <!--Form Column-->
            <div class=" d-flex justify-content-center">



                <!--Login Form-->
                <div class="styled-form register-form col-md-4" >

                    <form method="post">
                        <div class="form-group">
                            <label for="inputEmail">Email</label>
                            <span class="adon-icon"><span class="fa fa-envelope  mt-3"></span></span>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                class="form-control" autocomplete="email" required autofocus
                                placeholder="Entrez votre adresse email">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword">Mot de passe</label>
                            <span class="adon-icon"><span class="fa fa-unlock-alt mt-3"></span></span>
                            <input type="password" name="password" id="inputPassword" class="form-control"
                                autocomplete="current-password" required placeholder="Entrez votre mot de passe">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <div class="clearfix">
                            <div class="form-group pull-left">
                                <button type="submit" class="theme-btn btn-style-two"><span
                                        class="txt">Connexion</span></button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>
    </div>
</section>
<!--End Register Section-->

{% endblock %}